<style>
  @font-face {
    font-family: "Exo2";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url("{{'fonts/Exo2-Light.woff2' | asset}}") format("woff2"),
      url("{{'fonts/Exo2-Light.woff' | asset}}") format("woff");
  }

  @font-face {
    font-family: "Exo2";
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: url("{{'fonts/Exo2-SemiBold.woff2' | asset}}") format("woff2"),
      url("{{'fonts/Exo2-SemiBold.woff' | asset}}") format("woff");
  }

  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url("{{'fonts/OpenSans-Regular.woff2' | asset}}") format("woff2"),
      url("{{'fonts/OpenSans-Regular.woff' | asset}}") format("woff");
  }
</style>
