<footer class="bg-dark text-light pt-4 pb-3">
  <div class="container small">
    <div class="row">
      <div class="col-6 col-sm-4 d-flex flex-column">
        <span class="text-uppercase font-weight-bold mb-2">{{ __('strings.navigation') }}</span>
        <a class="text-light py-1 my-1" href="/{{ locale }}">{{ __('strings.home') }}</a>
        {% for route, routeInfo in __('routes') %}
        <a class="text-light py-1 my-1" href="{{ baseURL + '/' + routeInfo.path }}">{{ routeInfo.title }}</a>
        {% endfor %}
      </div>
      <div class="col-6 col-sm-4 d-flex flex-column">
        <span class="text-uppercase font-weight-bold mb-2">{{ __('strings.language') }}</span>
        {% for locale in getLocales() %}
          {% if route.stack[0].name %}
            {% set url = '/' + locale + '/' + __({ phrase: 'routes.' + route.stack[0].name + '.path', locale: locale }) %}
          {% else %}
            {% set url = '/' + locale %}
          {% endif %}
          <a class="text-light py-1 my-1" href="{{ url }}">{{ __({ phrase: 'language', locale: locale }) }}</a>
        {% endfor %}
      </div>
      <div class="col-12 col-sm-4 copyright">
        &copy; {{ getDate().getFullYear() }} {{ __('brand.name') }}
      </div>
    </div>
  </div>
</footer>
