<footer class="bg-dark text-light py-4">
  <div class="container small">
    <div class="row">
      <div class="col-6 col-sm-4">
        <span class="text-uppercase font-weight-bold">{{ __('content.resources') }}</span>
      </div>
      <div class="col-6 col-sm-4">
        <span class="text-uppercase font-weight-bold">{{ __('content.languages') }}</span>
      </div>
      <div class="col-12 col-sm-4">
        &copy; {{ getDate().getFullYear() }} {{ __('brand.name') }}
      </div>
    </div>
  </div>
</footer>
