<style>
html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url({{ 'img/hero.jpg' | asset }});
  background-position: center;
  background-size: cover;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  color: #fff;
}

body::after {
  background: rgba(0, 0, 0, .65);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 2px;
  left: 0;
  background: #fff;
}

a:hover::after {
  background: #fc6719;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  #container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  #container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  #container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  #container {
    max-width: 1030px;
  }
}

header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.brand {
  display: inline-block;
  position: relative;
  background-image: url({{ 'img/logo_48-stroke.png' | asset }});
  background-repeat: no-repeat;
  background-size: 24px 24px;
  line-height: 24px;
  text-decoration: none;
  padding-left: 24px;
}

.brand::before {
  content: "";
  display: block;
  position: absolute;
  left: 36px;
  top: 0;
  width: 1px;
  height: 24px;
  background-color: #ccc;
}

.brand .name {
  font-family: Exo2;
  color: #fff;
  padding-left: 12px;
  margin-left: 12px;
}

.brand .fname {
  font-weight: 300;
}

.brand .lname {
  font-weight: 600;
}

nav {
  display: block;
  border-top: 1px solid #666;
  margin-top: 15px;
}

nav a {
  font-family: Exo2;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 8px 0;
  transition: all 0.3s ease-in-out 0s;
}

nav a:first-child {
  margin-right: 18px;
}

nav a:last-child {
  margin-left: 18px;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fc6719;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.brand::after,
nav a::after,
.contact a::after {
  display: none;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Exo2;
  font-size: 32px;
  text-align: center;
}

main p {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

main a {
  color: #fff;
}

main .contact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}

main .contact svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 16px;
  box-shadow: 0 0 3px #333;
  margin-left: 2px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out 0s;
}

main .email,
main .phone {
  display: inline-flex;
  align-items: center;
  font-family: Exo2;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 5px 3px;
  padding-right: 20px;
  border-radius: 50px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out 0s;
}

main .email {
  background-color: #14549e;
}

main .phone {
  background-color: #00830e;
}

main .email span {
  margin-top: -3px;
}

main .phone span {
  margin-top: -2px;
}

main .email:hover svg {
  transform: rotateZ(-360deg);
}

main .phone:hover svg {
  transform: rotateZ(360deg);
}

main .phone span {
  display: inline-block;
  width: calc(100% - 58px);
}

@media (min-width: 374px) {
  nav a,
  main,
  main .blurb {
    font-size: 16px;
  }
}

@media (min-width: 550px) {
  header {
    display: flex;
    flex-direction: row;
  }

  .brand {
    line-height: 35px;
    background-position: 0 5px;
  }

  .brand::before {
    height: 35px;
  }

  nav {
    flex: 1;
    border-top: none;
    margin-top: 0;
    text-align: right;
  }

  main .contact {
    flex-direction: row;
  }

  main .phone {
    margin-left: 20px;
  }

  main .phone span {
    width: auto;
  }
}

@media (min-width: 768px) {
  .brand {
    background-image: url({{ 'img/logo_64-stroke.png' | asset }});
    background-size: 32px;
    background-position: 0 2px;
    font-size: 18px;
    padding-left: 36px;
  }

  .brand::before {
    left: 47px;
  }

  nav a:last-child {
    background-color: #14549e;
    padding: 7px 9px;
    border: 1px solid #14549e;
    border-radius: 4px;
  }

  nav a:last-child::before {
    display: none;
  }

  nav a:last-child:hover {
    border: 1px solid rgba(255, 255, 255, .5);
  }

  main h1 {
    font-size: 40px;
  }

  main .blurb {
    width: 70%;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  main .contact {
    margin-top: 80px;
  }
}
</style>
