{% extends '_main.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'css/vendor/leaflet.css' | asset }}">
{% endblock %}

{% block body %}
  {% set currentPage = 'contact' %}
  {% include 'partials/header.html' %}
  <main class="bg-light py-4 flex-grow-1">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="text-muted text-center mb-3">{{ __('strings.phone') }}</h2>
          <p class="text-center">
            <a href="tel:+1-514-739-3882"><span class="h5">{{ __('contact.phone') }}</span></a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col my-4">
          <h2 class="text-muted text-center mb-3">{{ __('strings.email') }}</h2>
          <p class="text-center">
            <a href="mailto:{{ __('contact.email') }}"><span class="h5">{{ __('contact.email') }}</span></a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="text-muted text-center mb-3">{{ __('strings.general-location') }}</h2>
          <p class="text-center mb-3">{{ __('strings.close-to') }}</p>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </main>
  {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'js/vendor/leaflet.js' | asset }}"></script>
  <script>
    let map = L.map('map', {
      scrollWheelZoom: false
    }).setView([45.484780, -73.641709], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([45.484780, -73.641709]).addTo(map);
  </script>
{% endblock %}
