{% extends '_base.html' %}

{% block styles %}
  {% include 'partials/styles-landing.html' %}
{% endblock %}

{% block structured_data %}
  {% include 'structured_data/organization.html' %}
{% endblock %}

{% block body %}
  {% include 'partials/icons.html' %}
  <div id="container">
    <header>
      <a href="{{ baseURL }}" class="brand">
        <span class="name">
          <span class="fname">{{ __('contact.fname') }}</span>
          <span class="lname">{{ __('contact.lname') }}</span>
        </span>
      </a>
      <nav>
        <a href="{{ baseURL }}/{{ __('routes.services.path') }}">
          {{ __('routes.services.title') }}
        </a><a href="{{ baseURL }}/{{ __('routes.testimonials.path') }}">
          {{ __('routes.testimonials.title') }}
        </a><a href="{{ baseURL }}/{{ __('routes.contact.path') }}">
          {{ __('routes.contact.title') }}
        </a>
      </nav>
    </header>
    <main>
      <h1>{{ __('brand.description') }}</h1>
      <p class="blurb">
        {{ __('strings.from-to') | safe }}<br><br>
        {{ __('strings.member-of') | safe }}
      </p>
      <p class="contact">
        <a class="email" href="mailto:{{ __('contact.email') }}">
          <svg class="icon icon-mail-reply"><use xlink:href="#icon-mail-reply"></use></svg>
          <span>{{ __('contact.email') }}</span>
        </a>
        <a class="phone" href="tel:+1-514-739-3882">
          <svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>
          <span>{{ __('contact.phone') }}</span>
        </a>
      </p>
    </main>
  </div>
{% endblock %}
