{% extends '_main.html' %}

{% block body %}
  <header>
    {% include 'partials/navigation.html' %}
    <div class="container py-5 my-5">
      <div class="row">
        <div class="col">
          <h1 class="text-center text-muted">{{ __('content.services-rates') }}</h1>
        </div>
      </div>
    </div>
    <div class="bg-light py-4 border-top border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.attestation-certificate') }}</span>
                <span class="text-muted text-nowrap">$30 - $40</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.birth-marriage-divorce-certificate') }}</span>
                <span class="text-muted text-nowrap">$30</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.comparative-evaluation') }}</span>
                <span class="text-muted text-nowrap">$40</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.criminal-record') }}</span>
                <span class="text-muted text-nowrap">$30</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <div>
                  <span class="d-block">{{ __('documents.divorce-decision') }}</span>
                  <small class="text-muted">{{ __('content.quebec') }}</small>
                </div>
                <span class="text-muted text-nowrap">$30</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <div>
                  <span class="d-block">{{ __('documents.divorce-decision') }}</span>
                  <small class="text-muted">{{ __('content.romania') }}</small>
                </div>
                <span class="text-muted text-nowrap">$50 / {{ __('content.page') }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.drivers-license') }}</span>
                <span class="text-muted text-nowrap">$35</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.high-school-university-diploma') }}</span>
                <span class="text-muted text-nowrap">$30 / {{ __('content.page') }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.power-of-attorney') }}</span>
                <span class="text-muted text-nowrap">$40 - $60 / {{ __('content.page') }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>{{ __('documents.transcript-of-records') }}</span>
                <span class="text-muted text-nowrap">$100 - $125</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
