{% extends '_main.html' %}

{% block body %}
  <header>
    {% include 'partials/navigation.html' %}
    <div class="container py-5 mt-3 mb-5">
      <div class="row">
        <div class="col">
          <h1 class="text-center text-white">{{ __('content.services-rates') }}</h1>
        </div>
      </div>
    </div>
  </header>
  <main class="bg-light py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="text-muted text-center mb-3">{{ __('content.services') }}</h2>
          <p class="lead">{{ __('content.services-certified-translations') }}</p>
          <p>{{ __('content.services-official-documents') | safe }}</p>
          <small class="text-muted">{{ __('content.services-i-do-not-revise') }}</small>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <h2 class="text-muted text-center mb-3">{{ __('content.rates') }}</h2>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <strong>{{ __('content.document') }}</strong>
              <div class="text-right ml-3">
                <strong class="text-nowrap d-block">{{ __('content.rates-rate') }} (CAD)</strong>
                <small class="badge badge-info">{{ __('content.rates-starts-at') }}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.attestation-certificate') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(30, locale) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.birth-marriage-divorce-certificate') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(30, locale) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.comparative-evaluation') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(40, locale) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.criminal-record') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(30, locale) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>
                <span class="d-block">{{ __('documents.divorce-decision') }}</span>
                <small class="text-muted">{{ __('content.quebec') }}</small>
              </div>
              <span class="text-muted text-nowrap ml-3">{{ cf(30, locale) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>
                <span class="d-block">{{ __('documents.divorce-decision') }}</span>
                <small class="text-muted">{{ __('content.romania') }}</small>
              </div>
              <span class="text-muted text-nowrap ml-3">{{ cf(50, locale) }} / {{ __('content.page') }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.drivers-license') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(35, locale) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.high-school-university-diploma') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(30, locale) }} / {{ __('content.page') }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.power-of-attorney') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(40, locale) }} / {{ __('content.page') }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('documents.transcript-of-records') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(100, locale) }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <strong>{{ __('content.rates-general') }}</strong>
              <div class="text-right ml-3">
                <strong class="text-nowrap d-block">{{ __('content.rates-rate') }} (CAD)</strong>
                <small class="badge badge-info">{{ __('content.rates-starts-at') }}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('content.rates-general-0-2000', nf(2000, locale)) }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(0.18, locale) }} / {{ __('content.word') }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('content.rates-general-2000-5000', nf(2000, locale), nf(5000, locale)) }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(0.15, locale) }} / {{ __('content.word') }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('content.rates-general-5000-plus', nf(5000, locale)) }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(0.13, locale) }} / {{ __('content.word') }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <strong>{{ __('content.other') }}</strong>
              <div class="text-right ml-3">
                <strong class="text-nowrap d-block">{{ __('content.rates-rate') }} (CAD)</strong>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('content.rates-emergency') }}</span>
              <span class="text-muted text-nowrap ml-3">+ 30%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('content.rates-extra-copies') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(10, locale) }} / {{ __('content.document') | lower }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ __('content.rates-mail-delivery') }}</span>
              <span class="text-muted text-nowrap ml-3">{{ cf(10, locale) }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <h3 class="text-muted text-center mb-3">{{ __('content.payment-methods') }}</h3>
        </div>
        <div class="col-2">
          <div class="border border-secondary rounded bg-white py-4 text-center font-weight-bold">
            {{ __('content.cash') }}
          </div>
        </div>
        <div class="col-2">
          <div class="border border-secondary rounded bg-white py-4 text-center font-weight-bold">
            {{ __('content.check') }}
          </div>
        </div>
        <div class="col-4">
          <div class="border border-secondary rounded bg-white py-4 text-center font-weight-bold">
            Interac e-Transfer
          </div>
        </div>
        <div class="col-4">
          <div class="border border-secondary rounded bg-white py-4 text-center font-weight-bold">
            PayPal
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
