{% extends '_main.html' %}

{% block body %}
  {% set currentPage = 'testimonials' %}
  {% include 'partials/header.html' %}
  <main class="bg-light py-4 flex-grow-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <p class="lead">{{ __('strings.if-you-were-happy') | safe }}</p>
        </div>
        <div class="col-md-6">
          <hr class="w-50 d-sm-none">
          <form action="{{ baseURL }}/{{ __('routes.thanks.path') }}" method="post">
            <div class="form-group">
              <label for="inputName">{{ __('strings.name') }}</label>
              <input type="text" class="form-control" id="inputName">
            </div>
            <div class="form-group">
              <label for="inputMessage">{{ __('strings.message') }}</label>
              <textarea class="form-control" id="inputMessage"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">{{ __('strings.submit') }}</button>
            </div>
          </form>
        </div>
      </div>
      <hr class="w-50">
      <div class="row">
        <div class="col">
        {% for testimonial in testimonials %}
          <p class="mb-1"><em>{{ testimonial.review }}</em></p>
          <p><strong>{{ testimonial.name }}</strong> / {{ testimonial.location }}</p>
          {% if not loop.last %}
          <hr class="w-50">
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </main>
  {% include 'partials/footer.html' %}
{% endblock %}
