html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  padding-top: 46px;
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Exo2;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .container {
    max-width: 830px;
  }
}

.navbar {
  background-color: #3260b1;
  font-family: Exo2;
  line-height: 1;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav {
  font-size: 1rem;
  font-weight: 600;
}

.navbar-brand {
  display: inline-block;
  position: relative;
  background-image: url(../img/logo_48-stroke.png);
  background-repeat: no-repeat;
  background-size: 24px;
  font-size: 1rem;
  line-height: 24px;
  text-decoration: none;
  padding: 0;
  padding-left: 24px;
}

.navbar-brand::before {
  content: "";
  display: block;
  position: absolute;
  left: 36px;
  top: 0;
  width: 1px;
  height: 24px;
  background-color: #ccc;
}

.navbar-brand .name {
  padding-left: 12px;
  margin-left: 12px;
}

.navbar-brand .fname {
  font-weight: 300;
}

.navbar-brand .lname {
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 46px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 48px;
  }

  .navbar-brand {
    background-image: url(../img/logo_64-stroke.png);
    background-size: 32px;
    font-size: 1.2rem;
    line-height: 32px;
    padding-left: 32px;
  }

  .navbar-brand::before {
    left: 44px;
    height: 32px;
  }
}
